{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    {{ form_widget(form, {'attr': {'class': 'btn btn-primary'}}) }}
{% endspaceless %}
{% endblock button_row %}
